version = 0.1

[default.build.parameters]
cached = true
parallel = true

[default.local_start_api.parameters]
warm_containers = "EAGER"

[default.deploy.parameters]
stack_name = "sf6-coach-mvp"
resolve_s3 = true
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
region = "ap-northeast-1"
